/* Loading page */
.fakeLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999999999;
}

.spinner {
  position: fixed;
  width: 50px;
  height: 50px;
  top: calc(50% - 50px / 2);
  left: calc(50% - 50px / 2);
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}
.spinner .ball1,
.spinner .ball2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: grey;
  border-radius: 100%;
  -webkit-animation: bounce 3s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.spinner .ball2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* End Loading page */

/* Tambahan lainnya */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: white;
}

h5 {
  color: white;
}

h3 {
  text-align: left; 
  margin-top: 75px; 
  font-style:italic
}

.jumbotron {
  background-color: #193446;
}

.display {
  color: white;
}

h1 {
  color: white;
  padding-top: 19px;
}

h3 {
  font-size: 45px;
}

h4 {
  color: white;

}

.empty {
  height: 60px;
  padding-top: 40px;
}

.btn {
  margin-right: 30px;
  position: relative;
}

body{
  height: 2655px;
}

.navbar a:hover {
  font-weight: bold;
}

.jumbotron {
  transition: all 2s linear;
}

.jumbotron a:hover {
  font-weight: bold;
  color: rgb(182, 14, 171);
}

.nav-link {
  color: orange;
  transition: all .5s linear;
}

.btn {
  height: 46px;
  width: 87px;
  background-color: rgb(72, 13, 154);
}

h6 {
  color: white;
  font-size: 40px;
  padding-top: 10px;
}
/* End Tambahan lainnya */

/* Button project */

#butpro {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  padding: 5px 30px;
  align-items: center;
  float: right;
  margin-top: 7px;
  transition: .5s;
}

#butpro:hover {
  color: orange;
  letter-spacing: .13em;
  text-shadow: 0 0 5px orange;
}

#butpro span {
  position: absolute;
  display: block;
  background: orange;
}

#butpro span:nth-child(1) {
  left: 0;
  top: 0;
  width: 51%;
  height: 1.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
}
#butpro:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}

#butpro span:nth-child(2) {
  right: 0;
  top: 0;
  width: 51%;
  height: 1.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
#butpro:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;

}

#butpro span:nth-child(3) {
  right: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform .5s;
  transition-delay: .4s;
}
#butpro:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}

#butpro span:nth-child(4) {
  left: 0;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform .5s;
  transition-delay: .4s;
}
#butpro:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}

#butpro span:nth-child(5) {
  left: 0;
  bottom: 0;
  width: 51%;
  height: 1.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
  transition-delay: .5s;
}
#butpro:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: left;
}

#butpro span:nth-child(6) {
  right: 0;
  bottom: 0;
  width: 51%;
  height: 1.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
  transition-delay: .5s;
}
#butpro:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: right;
}
/* End Button project */

/* Scrool Bar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: red;
}
/* Scrool Bar */

/* Responsive */
@media (min-width: 320px) and (max-width: 921px) and (orientation: landscape) {
  .jumbotron {
    height: auto;
    float: none;
  }

  #title {
    text-align: center;
  }

  .nav-link {
    align-items: left;
  }

  #butpro {
    background-color: aqua;
    color: white;
  }

}

@media (min-width: 270px) and (max-width: 767px) and (orientation: portrait) {
  .jumbotron {
    height: auto;
    float: none;
  }

  #title {
    text-align: center;
  }

  .nav-link {
    align-items: left;
  }

  #butpro {
    background-color: rgb(116, 12, 84);
    color: white;
    border-radius: 12px;
    font-size: 15px;
    float: right;
  }
}

/* End Responsive */
